In [79]:
# Pandas is used for data manipulation
import pandas as pd

In [80]:
# Read in data and display first 5 rows
features = pd.read_csv('Bad Credit.csv')
features.head(5)

,id,funded_amnt_inv,annual_inc,dti,delinq_2yrs,inq_last_6mths,total_acc,A,B,C,D,E,F,G,int_rate
0,1077501,4975.0,24000.0,27.65,0.0,1.0,9.0,0,1,0,0,0,0,0,10.65
1,1077430,2500.0,30000.0,1.00,0.0,5.0,4.0,0,0,1,0,0,0,0,15.27
2,1077175,2400.0,12252.0,8.72,0.0,2.0,10.0,0,0,1,0,0,0,0,15.96
3,1076863,10000.0,49200.0,20.00,0.0,1.0,37.0,0,0,1,0,0,0,0,13.49
4,1075358,3000.0,80000.0,17.94,0.0,0.0,38.0,0,1,0,0,0,0,0,12.69

In [81]:
print('The shape of our features is:', features.shape)

The shape of our features is: (887379, 15)

In [82]:
# Descriptive statistics for each column
features.describe()

,id,funded_amnt_inv,annual_inc,dti,delinq_2yrs,inq_last_6mths,total_acc,A,B,C,D,E,F,G,int_rate
count,8.873790e+05,887379.000000,8.873790e+05,887379.000000,887379.000000,887379.000000,887379.000000,887379.000000,887379.000000,887379.000000,887379.000000,887379.000000,887379.000000,887379.000000,887379.000000
mean,3.246513e+07,14702.464383,7.502759e+04,18.157039,0.314442,0.694623,25.268026,0.167011,0.286839,0.277063,0.157252,0.079678,0.025971,0.006186,13.246740
std,2.282734e+07,8442.106732,6.469815e+04,17.190626,0.862230,0.998431,11.840368,0.372986,0.452286,0.447548,0.364038,0.270795,0.159048,0.078405,4.381867
min,5.473400e+04,0.000000,0.000000e+00,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.320000
25%,9.206643e+06,8000.000000,4.500000e+04,11.910000,0.000000,0.000000,17.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.990000
50%,3.443327e+07,13000.000000,6.500000e+04,17.650000,0.000000,0.000000,24.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,12.990000
75%,5.490814e+07,20000.000000,9.000000e+04,23.950000,0.000000,1.000000,32.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,16.200000
max,6.861706e+07,35000.000000,9.500000e+06,9999.000000,39.000000,33.000000,169.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,28.990000

In [83]:
# Use numpy to convert to arrays
import numpy as np
# Labels are the values we want to predict
labels = np.array(features['int_rate'])
# Remove the labels from the features
# axis 1 refers to the columns
features= features.drop('int_rate', axis = 1)
# Saving feature names for later use
feature_list = list(features.columns)
# Convert to numpy array
features = np.array(features)

In [84]:
# Using Skicit-learn to split data into training and testing sets
from sklearn.model_selection import train_test_split
# Split the data into training and testing sets
train_features, test_features, train_labels, test_labels = train_test_split(features, labels, test_size = 0.2, random_state = 42)

In [85]:
# Import the model we are using
from sklearn.ensemble import RandomForestRegressor
# Instantiate model with 1000 decision trees
rf = RandomForestRegressor(n_estimators = 10, random_state = 42)
# Train the model on training data
rf.fit(train_features, train_labels);

In [86]:
# Use the forest's predict method on the test data
predictions = rf.predict(test_features)
# Calculate the absolute errors
errors = abs(predictions - test_labels)
# Print out the mean absolute error (mae)
print('Mean Absolute Error:', round(np.mean(errors), 2), 'degrees.')

Mean Absolute Error: 0.84 degrees.

In [87]:
print(predictions[0:5])

[16.466 10.546  6.251 16.352 16.982]

In [88]:
# Calculate mean absolute percentage error (MAPE)
mape = 100 * (errors / test_labels)
# Calculate and display accuracy
accuracy = 100 - np.mean(mape)
print(accuracy)
#print('Accuracy:', round(accuracy, 2), '%.')

92.73618837048022

In [89]:
def mean_absolute_percentage_error(y_true, y_pred): 
    y_true, y_pred = np.array(y_true), np.array(y_pred)
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100

In [90]:
mean_absolute_percentage_error(test_labels, predictions)

7.263811629519782

In [91]:
#k = 5 fold cross validation for Random Forest
from sklearn.model_selection import cross_val_score
acc = cross_val_score(estimator = rf,X =  train_features, y = train_labels, cv=5)

In [92]:
#Average of all the folds and prediction the accuracy
acc.mean()

0.945098280622408

In [93]:
acc.std()

0.0004128780536145397