In [1]:
#importing required modules
import matplotlib.pylab as plt
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.model_selection import train_test_split
from tpot import TPOTClassifier
from tpot import TPOTRegressor

C:\Users\honra\Anaconda3\lib\site-packages\deap\tools\_hypervolume\pyhv.py:33: ImportWarning: Falling back to the python version of hypervolume module. Expect this to be very slow.
  "module. Expect this to be very slow.", ImportWarning)

In [2]:
#import dataset
loandata_df = pd.read_csv('loan_cleaned.csv', index_col='id')

#see the columns in our data
loandata_df.info()

# take a look at the head of the dataset
loandata_df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 887379 entries, 1077501 to 36271262
Columns: 137 entries, member_id to int_rate
dtypes: float64(9), int64(128)
memory usage: 934.3 MB

,member_id,loan_amnt,funded_amnt_inv,annual_inc,dti,delinq_2yrs,inq_last_6mths,total_acc,total_pymnt,total_pymnt_inv,...,TN,TX,UT,VA,VT,WA,WI,WV,WY,int_rate
id,,,,,,,,,,,,,,,,,,,,,
1077501,1296599,5000,4975.0,24000.0,27.65,0.0,1.0,9.0,5861.071414,5831.78,...,0,0,0,0,0,0,0,0,0,10.65
1077430,1314167,2500,2500.0,30000.0,1.00,0.0,5.0,4.0,1008.710000,1008.71,...,0,0,0,0,0,0,0,0,0,15.27
1077175,1313524,2400,2400.0,12252.0,8.72,0.0,2.0,10.0,3003.653644,3003.65,...,0,0,0,0,0,0,0,0,0,15.96
1076863,1277178,10000,10000.0,49200.0,20.00,0.0,1.0,37.0,12226.302210,12226.30,...,0,0,0,0,0,0,0,0,0,13.49
1075358,1311748,3000,3000.0,80000.0,17.94,0.0,0.0,38.0,3242.170000,3242.17,...,0,0,0,0,0,0,0,0,0,12.69

In [3]:
#create our X and y
X = loandata_df.drop('int_rate', axis=1)
y = loandata_df['int_rate']
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, test_size=0.3)

In [4]:
tpot = TPOTRegressor(generations=5, population_size=50, verbosity=2)

In [5]:
tpot

TPOTRegressor(config_dict=None, crossover_rate=0.1, cv=5,
       disable_update_check=False, early_stop=None, generations=5,
       max_eval_time_mins=5, max_time_mins=None, memory=None,
       mutation_rate=0.9, n_jobs=1, offspring_size=None,
       periodic_checkpoint_folder=None, population_size=50,
       random_state=None, scoring=None, subsample=1.0, use_dask=False,
       verbosity=2, warm_start=False)

In [ ]:
#fitting the tpot model
tpot.fit(X_train,y_train)

Warning: xgboost.XGBRegressor is not available and will not be used by TPOT.

HBox(children=(IntProgress(value=0, description='Optimization Progress', max=300, style=ProgressStyle(descriptâ€¦

In [ ]:
tpot.score(loandata_df.drop('class',axis=1).loc[validation_indices].values,
           loandata_df.loc[validation_indices, 'class'].values)

In [8]:
## It's a implementation of some customized models to do in future
tpot_config = {
   'sklearn.ensemble.GradientBoostingRegressor': {
       ''
   },
   'xgboost.XGBRegressor': {
       'alpha': [1e-3, 1e-2, 1e-1, 1., 10., 100.],
       'fit_prior': [True, False]
   },
   'sklearn.naive_bayes.MultinomialNB': {
       'alpha': [1e-3, 1e-2, 1e-1, 1., 10., 100.],
       'fit_prior': [True, False]
   }
}